body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 8px 10%;
  background-color: #1f2937;
}

.header div {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  font-size: 18px;
  color: #e5e7eb;
}

.top-section {
  display: flex;
  justify-content: space-between;
  padding: 104px 10%;
  background-color: #1f2937;
}

.container {
  width: 420px;
}

.hero-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin-bottom: 4px;
}

.hero-subtext {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 12px;
}

.top-section button {
  border: none;
  border-radius: 4px;
  background-color: #3882F6;
  color: white;
  font-size: 14px;
  padding: 8px 24px;
}

.top-section img {
  width: 300px;
  height: auto;
}

.mid-section {
  padding: 48px 10%;
}

.random-text {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  margin-bottom: 48px;
}

.image-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image img {
  border-style: solid;
  border-color: #3882F6;
  border-width: 3px;
  border-radius: 8px;
  width: 160px;
  height: 160px;
  margin-bottom: 8px;
}

.image div {
  font-size: 18px;
  text-align: center;
  width: 160px;

}